html {
    /* 1rem = 10px */
    font-size: 62.5%;
    box-sizing: border-box;
  }

  *, *:before, :after {
    box-sizing: inherit;
}

  body {
    font-size: 1.6rem;
    background-color: hsl(257, 40%, 49%);
    background-image: url(../images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 4rem;
}  

a {
  text-decoration: none;
}

img {
  width: 100%;
}

/* font-family: 'Open Sans', sans-serif;

font-family: 'Poppins', sans-serif; */

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.logo img {
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: auto;
}

.image {
  transition: .2s transform ease-in-out
}

.image:hover {
  transform: scale(1.1);
  transition: .3s transform ease-in-out
}

.principal-content {
  display: flex;
  flex-direction: column;
  margin: 2rem 5rem;
}


@media (min-width: 1200px) {
  .principal-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    margin: 0 auto;
  }
}

.content h1 {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 600;
}


.content {
  color: white;
  font-family: 'Poppins', sans-serif;
}

.content p {
  margin-bottom: 4rem;
  line-height: 2;
}

.btn {
  background-color: white;
  padding: 2rem;
  color: hsl(257, 40%, 49%);
  display: block;
  font-size: 2rem;
  border-radius: 5rem;
  width: 100%;
  text-align: center;
}

@media (min-width: 1200px) {
    .btn {
      width: 50%;
    }
}

.btn:hover {
  color: white;
  background-color: hsl(300, 69%, 71%);
  transition: .2s all ease-in-out;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 15rem;
  gap: 2rem;
}

@media (min-width: 1200px) {
  .footer {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    gap: 2rem;
  }
}

.icon {
  width: 6rem;
  padding: 1.6rem;
  fill: white;
}

.icon-border {
  border: 1px solid white;
  border-radius: 50%;
}

.icon:hover {
  fill: hsl(300, 69%, 71%);
}

.icon-border:hover {
  border: 1px solid hsl(300, 69%, 71%);
}